.md-layer-1-0-0 {
z-index: 998 !important; color: #ffffff !important;
 text-align: center;
 font-size: 4.5833333333333em;
 font-weight: 700;
 font-family: "Oswald";
}
.md-layer-1-0-1 {
z-index: 997 !important;}
.md-layer-1-0-2 {
z-index: 996 !important;}
.md-layer-1-0-3 {
z-index: 995 !important; -webkit-border-top-left-radius: 4px; -moz-border-radius-topleft: 4px; border-top-left-radius: 4px;
 -webkit-border-top-right-radius: 1px; -moz-border-radius-topright: 1px; border-top-right-radius: 1px;
 -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; border-bottom-left-radius: 10px;
 -webkit-border-bottom-right-radius: 8px; -moz-border-radius-bottomright: 8px; border-bottom-right-radius: 8px;
 padding-top: 1px;
 padding-right: 1px;
 padding-bottom: 1px;
 padding-left: 1px;
}
.md-layer-1-0-4 {
background: #ffffff;
 z-index: 1000 !important;}
.md-layer-1-0-5 {
z-index: 999 !important;}
.md-layer-1-1-0 {
background: #0d66b8;
 z-index: 2 !important; color: #ffffff !important;
 text-align: center;
 font-size: 4.5833333333333em;
 font-weight: 700;
 font-family: "Tahoma";
}